.ec-event {
  /* NOTE - CJ - 2025-07-03 - Overrides the min heigh of the event to be one line. !important is needed as this is set manually on the element */
  /* eslint-disable-next-line css/no-important */
  min-height: 1.5rem !important;
}

.open-calendar-event-body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  --open-calendar-event-body-gap: 2px;
  display: flex;
  flex-direction: column;
}

.open-calendar-event-body-time {
  float: left;
  display: flex;
  margin-right: var(--open-calendar-event-body-gap);
}

.open-calendar-event-body-icons {
  float: right;
  display: flex;
  gap: var(--open-calendar-event-body-gap);
  margin-left: var(--open-calendar-event-body-gap);
  align-items: center;
  height: 1.5em;
}


.open-calendar-event-body-attendees {
  display: flex;
  flex-direction: row;
  gap: 0px 5px;
  flex-wrap: wrap;

  .open-calendar-event-body-organizer {
    font-weight: bold;
    color: red;
  }

  .open-calendar-event-body-attendee-chair {
    font-weight: bold;
  }

  .open-calendar-event-body-attendee-req-participant {
    font-weight: bold;
  }

  .open-calendar-event-body-attendee-non-participant {
    font-style: italic;
  }

  .open-calendar-event-body-attendee-accepted {
    color: green;
  }

  .open-calendar-event-body-attendee-declined {
    color: gray;
  }
}

/* NOTE - CJ - 2025-07-04 - If the partstat of the attendee is NEED-ACTION of an unknown value, set if orange */
.open-calendar-event-body-attendees:not(.open-calendar-event-body-attendee-declined, .open-calendar-event-body-attendee-accepted) {
  color: orange;
}

.ec-day-grid {
  .open-calendar-event-body-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .open-calendar-event-body-location {
    display: none;
  }

  .open-calendar-event-body-attendees {
    display: none;
  }
}