.open-calendar-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .open-calendar-form-content {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;

    label {
      text-align: right;
    }

    input[type=checkbox] {
      justify-self: left;
    }
  }

  .open-calendar-form-list {
    display: flex;
    flex-direction: column;
    grid-gap: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .open-calendar-form-buttons {
    display: flex;
    gap: 1rem;
  }
}

/* FIXME - CJ - 2025-07-03 - replace by something else that supports localization */
.open-calendar-form-content label::after {
  content: ":";
}

.open-calendar-form-buttons>* {
  flex-grow: 1;
}

.open-calendar {
  font-family: sans-serif;
  height: 100%;
}

.ec {
  height: 100%;
}